<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      {assigns[:page_title] || "Myapp"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <ul class="relative z-10 flex items-center gap-5 mx-4 mt-4 mr-8 py-3 bg-white shadow-sm rounded-lg justify-end">
      <%= if @current_user do %>
        <li>
          <.link
            href={~p"/recipes"}
            class="text-base text-zinc-700 font-medium hover:text-zinc-900 px-3 py-2 rounded-md hover:bg-zinc-50 transition-colors"
          >
            Recipes
          </.link>
        </li>
        <li>
          <.link
            href={~p"/shopping-lists"}
            class="text-base text-zinc-700 font-medium hover:text-zinc-900 px-3 py-2 rounded-md hover:bg-zinc-50 transition-colors"
          >
            Shopping Lists
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-base text-zinc-700 font-medium hover:text-zinc-900 px-3 py-2 rounded-md hover:bg-zinc-50 transition-colors"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-base text-zinc-700 font-medium hover:text-zinc-900 px-3 py-2 rounded-md hover:bg-zinc-50 transition-colors"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="text-base text-zinc-700 font-medium hover:text-zinc-900 px-3 py-2 rounded-md hover:bg-zinc-50 transition-colors"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_in"}
            class="text-base text-zinc-700 font-medium hover:text-zinc-900 px-3 py-2 rounded-md hover:bg-zinc-50 transition-colors"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    {@inner_content}
  </body>
</html>
